:root {
    --main-color: #ff4c68;
  }


body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}
.container-fluid{
  padding: 3% 15% 4%;

}

table{
    font-family: 'IBM Plex Mono', monospace;
}

/*reactives*/
#last_refreshed p{
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  margin-top: 10px;

}
#title{
    background-color: var(--main-color);
    color:white;
    text-align: center;

}
#table_emprendedora table{
  margin: 0 auto;
}

td:nth-child(1) {
  text-align: left;
}

td, th{
  font-size: 10px;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 12px;
}

.big-header{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-title{
  padding: 7% 0 3%;
}
.container-btns-title{
  padding:5%;
}


/* Summary */
#summary{
  background-color: white;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.card-deck{
  font-family: 'IBM Plex Mono', monospace;

}
.card{
  border-color: white;
}
.card-title{
    font-size: 1.4rem;
}
.summary-icon{
  font-size: 2.5rem;
  color:var(--main-color);
  margin-bottom: 10px;
}

.summary-card-number{
  font-size: 2rem;
  font-weight: bold;
}

/* Monitoria */
#monitoria{
text-align: center;

}

.title-monitoria{
  background-color: var(--main-color);
  color:white;
  padding: 2% 0;
  font-size: 2rem;
}

.container-mel-modalidade{
  padding: 1%;
}

.btn-monitoria{
  color:var(--main-color);
  border-color: var(--main-color);
  margin: 3% 2%;
}

  .btn-monitoria:hover {
    color:white;
    border-color: black;
    background-color: var(--main-color);
  }
  .btn-monitoria:focus{
    color:white;
    border-color: black;
    background-color: var(--main-color);
  }

  .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

  }

  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

  }

  .carousel-control-prev,
  .carousel-control-next{
        bottom: 75%;
  }

.carousel-tablas{
  margin-top: 40px;
}


#footer{
  background-color: var(--main-color);
}

.icon-contact{
  margin: 2% 3%;
  font-size: 1.5rem;
}

/*Contacto */
.pulpo-img{
  width: 300px;
  margin-bottom: 15px;
}


/**Circles table*/

/*==========================circles==============================*/

.dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
}

.green{

  background-color: #3AA757;
}

.yellow{

  background-color: #EFB700;
}

.red{
  background-color: #EA4335;
}

/* DESKTOP************************************************/

@media (min-width:1028px) {
  .title-container{
      text-align: left;
  }
  .download-button{
     margin: 5% 5px;
  }

  td, th{
    font-size: 1rem;
  }

}
